<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <script src="/javascripts/libraries/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
